---
title: Leeds WordPress Development - Flo Design Limited	
description: Custom, bespoke WordPress development Leeds from Flo Design Ltd.
---

<section class="masthead" id="masthead">
	
	<!-- <%= image_tag 'seawater.jpg', :class => "bg" %> -->


	<div class="wrapper">
		<h1><span class="hp-title-one">WordPress.</span><span class="hp-title-two"><br/>Bespoke design &amp; development.</span></h1>
		
	</div><!--end wrapper-->
</section>

<section class="standard__section">
	<div class="wrapper">
		<h2>Why WordPress?</h2>
		<div class="row cf">
			<div class="col3"></div>
			<div class="col7">
				<p>Ease of use, excellent support base and extensibility have made Wordpress one of the world's most popular CMS systems.</p>
				<p>Here at Flo Design we're experts in every facet of Wordpress design and development; from bespoke themes to custom plugins and everything in between. With our help, you'll be able to do just about anything with Wordpress.</p>
			</div>
			<div class="col2"></div>
		</div><!--end row-->
		
			<div class="stat cf">
			<div class="pie-wrapper">
				<div class="pie">
					<div class="pie-right"></div>
					<div class="pie-left"></div>
					<div class="pie-percent">
						<div class="number"><span class="count">25</span>%</div>
					</div>
				</div>
			</div>

				<blockquote>
					More than 60 million web sites or a quarter of the web is powered by WordPress.
				</blockquote>
			</div>
		
	</div>
</section>

<section class="standard__section standard__section--grey">
	<div class="wrapper">
		<h2>WordPress Services.</h2>
		<div class="row cf">
			<div class="col3"></div>
			<div class="col7">
				<p>
					Every website we create is custom-designed and engineered to meet your business needs and our Wordpress sites are no different. We want your website to be unique and make your brand stand out among the crowd.
				</p>
			</div>
			<div class="col2"></div>
		</div>

		<div class="dodont_container cf">
			<div class="dodont do">
				<h3>...we do</h3>
				<ul>
					<li>Bespoke theme development</li>
					<li>Custom site builds</li>
					<li>Custom plug-in development</li>
					<li>Admin area customisation</li>
				</ul>
			</div>

			<div class="dodont dont">
				<h3>...but we dont</h3>
				<ul>
					<li>Use pre-built themes</li>
					<li>Do maintainance on existing sites</li>
					<li>Work with pre-existing code base</li>
					<li>Use WordPress, no matter what</li>
				</ul>
			</div>	
		</div>
		
	</div>
</section>

<section class="standard__section">
	<div class="wrapper">
		<h2>Is WordPress for you?</h2>
		<div class="row cf">
			<div class="col3"></div>
			<div class="col7">
				<p>
					Wordpress is extremely popular but we want to find the best fit for you. We work with you to understand your goals and do our research before choosing the best solution. It's about blazing a trail, not following the cool kids.
				</p>
				<!-- <div class="wrapper">
				<%= link_to 'Our Process <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/hire-us.html', :class => "cta_btn" %>
				</div> -->
			</div>
			<div class="col2"></div>
		</div><!--end row-->
	</div>
</section>

<section class="standard__section standard__section--grey">
	<div class="wrapper wp-done">
		<h2>What we've done with WordPress.</h2>
		
			<div class="wp-work-logos cf">
				
					<div class="wp-work">
						<%= image_tag 'sq_geoSLAM.svg' %>
					</div>
				
					<div class="wp-work">
						<%= image_tag 'sq_alscient.svg' %>
					</div>
				
					<div class="wp-work">
						<%= image_tag 'sq_devnet.svg' %>
					</div>
				
					<div class="wp-work">
						<%= image_tag 'sq_vp.png' %>
					</div>

					
				
			</div>
			
			<%= link_to 'See Our Work <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/work/', :class => "cta_btn" %>
			
			
		
	</div>
</section>

<!--<section class="case-study__section--blue">
	<div class="wrapper">
		<div class="row cf">
			<div class="mugshot">
				<%= image_tag 'Cat_b.png' %>
			</div>
		</div>
		<div class="row cf">
			<div class="col2"></div>
			<blockquote class="big_quote">"Russ and Craig are really smart, knowledgable guys. Their complimentary design and backend tech skills make them a one stop shop for web app development. Thanks for all your help guys!"</blockquote>
			<div class="col2"></div>
		</div>
		<div class="row cf">
			<span class="quote__attribution">Cat Barrett - Buildcloud</span>
		</div>
		</div>
	</div>
</section>-->


	<div class="cta-box cta-box__white">
		<div class="wrapper">
			<h3>Have a WordPress project you’d like to talk to us about?</h3>
			<%= link_to 'Get in touch <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/hire-us.html', :class => "cta_btn" %>
		</div>
	</div>


