---
title: Blog Post - Flo Design Limited	
---

<!-- Add your site or application content here -->

<% wrap_layout :layout do %>
<section class="article_wrapper">
	

	<article class="blog_item">
	<div class="wrapper">
		<div class="row cf">
			<div class="col9">
				<div class="blog__main">
					<time datetime="<%= current_article.date %>"><%= current_article.date.strftime('%B %e %Y') %></time>
					
					<h1><%= current_article.title %></h1>

					 <%= yield %>
					
				</div><!--end blog main-->
			</div><!--end col9-->
			<div class="col3 cf">
				<div class="post_meta">
					<dl>
						<dt>Time:</dt>
						<dd><%= current_article.data.time %>min</dd>
						<dt>In:</dt>
						<dd><%= current_article.data.tags %></dd>
						<dt>by:</dt>
						<dd><%= current_article.data.author %></dd>
					</dl>
				</div><!--end post meta-->
			</div><!--end col3-->
		</div><!--end row-->
	</div><!--end wrapper-->
	</article>
	
	<div class="comments">
		<div class="wrapper">
			<div id="disqus_thread"></div>
		</div>
	</div>
	<div class="cta-box">
		<div class="wrapper">
			<h3>Think we can help with your web site or app project? </h3>
			<%= link_to 'Let&rsquo;s Chat <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/hire-us.html', :class => "cta_btn" %>
		</div>
	</div>
</section>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//flodesignlimited.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<% end %>





