---
title: Beach Front Villas Case Study - WordPress Web Design - Flo Design Limited
description: An insight into the web design and development work that went into a bespoke wordpress web site for Beach Front Villas.
---

<section class='masthead masthead-large masthead-cs' id='masthead'>
	
	<%= image_tag 'bfv_bg.jpg', :class => "bg", :alt => "Beach Front Villas Background" %>
	<div class="wrapper case-study-header">
		<h1><span class="hp-title-one case-study-header__small">Case study</span><span class="hp-title-two"><br />Beach Front Villas</span></h1>
		<a href="http://beachfrontvillas.tc/" class="case-study-site-link" target="_blank">Launch Site</a>
	</div><!--end wrapper-->
</section>

<section class="main-screen">
	<div class="wrapper">
		<div class="overlay header-video">
			<%= image_tag 'bfv_home.jpg', :class => 'main-vid-item', :alt => "Beach Front Villas home page" %>
		</div>
	</div>
</section>


<section class="case-study__section--white case-study--background">
	<div class="wrapper">
		<h2>Background</h2>
		<div class="row cf">
			<div class="col3"></div>
			<div class="col7">
				<p>Beach Front Villas are a new start up business who provide luxury villa rentals on the stunning Turks &amp; Caicos Islands in the Caribbean. Robin Spruce, Beach Front Villas owner and founder, approached us to produce a class leading, visually stunning and easy to use website. The site we designed and built puts the fantastic islands and amazing luxury villas to the fore and firmly estamblshes Beach Front Villas as leaders within their market.</p>
			</div>
			<div class="col2"></div>
		</div><!--end row-->
	</div>
</section>

<section class="case-study__section--grey case-study--design_images">
	<div class="wrapper wrapper-wide">
		<h2>Design</h2>
		

		<div class="case-study-imgset cf">
			<div class="img-l-sm">
				<%= image_tag 'bfv_mobile.jpg', :alt => "Beach Front Villas website on Iphone" %>
				<%= image_tag 'bfv_detail.jpg', :alt => "Beach Front Villas website detail" %>
			</div>
			<div class="img-r-lg">
				<%= image_tag 'bfv_villas.jpg', :alt => "Beach Front Villas website layout" %>
				<div class="img-hover">
					<%= image_tag 'bfv_villa_detail.png', :alt => "Beach Front Villas website layout" %>
				</div>
			</div>
			
		</div>

		<div class="row cf">

			<div class="col3"></div>
			<div class="col7">
				<p>When you're appealing to a luxury, high end market that can afford to spend upto $20,000 USD per night on a villa in the Caribbean, it's important that your web site looks and feels just as high end and luxurious. We had a clean sheet of paper with which to approach the design and through a mix of classic &amp; contempary typography, a fresh, vibrant colour pallet and gorgeous photography we delivered a site that looks just as stunning as its subject matter. Couple that with the user experience and information architecture work we conducted, you end up with a site that's easy to use and looks stunning. Form and function in perfect harmony.</p>
			</div>
			<div class="col2"></div>
		</div>

	</div>
</section>

<section class="case-study__section--white case-study--wp">
	<div class="wrapper">
		<h2>Technology</h2>
		<div class="wp-container cf">
			<div class="wp-logo">
				<%= image_tag 'wp-w-logo.svg', :alt => "WordPress logo" %>
			</div>
			<div class="wp-info">
				<p>Beach Front Villas is based on the excellent Roots <a href="https://roots.io/bedrock/">Bedrock</a> framework. This gives us a flexible development environment in addition to seperation of Wordpress core files and our custom theme for production. Use of Composer allows us to control plugin and Wordpress versions easily. The site had a requirement to be able to manage bookings for each villa and present available villas to a user based on a start and end date. We wrote a custom search plugin to grab available villas based on a custom booking post type attached to each villa. These results were then presented to the user so they could see exactly which villas were available on the dates provided.</p>
			</div>
			
		</div>
		
	</div>
</section>

<section class="case-study__section--blue">
	<div class="wrapper">
		<div class="row cf">
			<div class="mugshot">
				<%= image_tag 'robin.png', :alt => "Robin Spruce" %>
			</div>
		</div>
		<div class="row cf">
			<div class="col2"></div>
			<blockquote class="big_quote">"The guys from Flo have been brilliant! Great communication throughout the project and they nailed the site, both from a design and functionality point of view. A pleasure to work with."</blockquote>
			<div class="col2"></div>
		</div>
		<div class="row cf">
			<span class="quote__attribution">Robin Spruce - Beach Front Villas</span>
		</div>
		</div>
	</div>
</section>

<section class="case-study__section--white">
	<div class="cta-box">
		<div class="wrapper">
			<h3>Have a web site project you’d like to talk to us about?</h3>
			<%= link_to 'Get in touch <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/hire-us/', :class => "cta_btn" %>
		</div>
	</div>
</section>
