---
title: GeoSLAM Case Study - WordPress Web Design - Flo Design Limited
description: An insight into the web design and development work that went into a bespoke wordpress web site for GeoSLAM Limited.
---

<section class='masthead masthead-large masthead-cs' id='masthead'>
	
	<%= image_tag 'geo-bg.jpg', :class => "bg", :alt => "GeoSLAM Background" %>
	<div class="wrapper">
		<h1><span class="hp-title-one case-study-header__small">Case study</span><span class="hp-title-two"><br />GeoSLAM</span></h1>
	</div><!--end wrapper-->
</section>

<section class="main-screen">
	<div class="wrapper">
		<div class="overlay header-video">
			<%= image_tag 'geo-home-lg.png', :class => 'main-vid-item', :alt => "GeoSLAM home page" %>
		</div>
	</div>
</section>


<section class="case-study__section--white case-study--background">
	<div class="wrapper">
		<h2>Background</h2>
		<div class="row cf">
			<div class="col3"></div>
			<div class="col7">
				<p>Buildcloud is a kick ass technology start-up based in Leeds. They had a vision to create a cloud based project managment tool for architects, which we helped transform from a cool idea into a real product.</p>
				<p>We worked with the Buildcloud founders to design and build an app that revolutionises how architects manage &amp; communicate on projects.</p>
			</div>
			<div class="col2"></div>
		</div><!--end row-->
	</div>
</section>

<section class="case-study__section--grey case-study--design_images">
	<div class="wrapper">
		<h2>Design</h2>
		

		<div class="case-study-imgset cf">
			<div class="img-l-sm">
				<%= image_tag 'geo-iphone@2x.jpg', :alt => "GeoSLAM website on Iphone" %>
				<%= image_tag 'geo-icon@2x.jpg', :alt => "GeoSLAM website iconography" %>
			</div>
			<div class="img-r-lg">
				<%= image_tag 'geo-dt-under@2x.jpg', :alt => "GeoSLAM website iconography" %>
				<div class="img-hover">
					<%= image_tag 'geo-dt-over@2x.png', :alt => "GeoSLAM website iconography" %>
				</div>
			</div>
			
		</div>

		<div class="row cf">

			<div class="col3"></div>
			<div class="col7">
				<p>At its heart Buildcloud is about information &amp; communication so the design needed to put this to the fore. The interface was kept clean, clear and simple with a minimal core colour pallet. Subtle animations where used to provide greater context when interacting with the user interface.</p>
			</div>
			<div class="col2"></div>
		</div>

	</div>
</section>

<section class="case-study__section--white case-study--tech">
	<div class="wrapper">
		<h2>Technology</h2>
		<div class="row cf">
			<div class="col2"></div>
			<div class="col7">
				<p>Buildcloud is built on the Laravel PHP framework. Users can interact using the web-based application or via an iOS mobile app, which uses the included REST API. Using Laravel allowed us to work with a range of server technologies. We also had flexibility should the server environments ever need to change. Furthermore, we could stick to best practices by working within the framework structure.</p>

				<p>We also integrated Buildcloud with the Stripe payment provider and Quaderno VAT-MOSS service. This allowed users to receive a real-time tax breakdown before setting up their subscription. All without ever leaving their page within the app.</p>
			</div>
			<div class="col2"></div>
		</div>
		<div class="tech-logos">
			<div class="row cf">
				<div class="tech-badge col4">
					<%= image_tag 'laravel.png', :alt => "Laravel logo" %>
				</div>
				<div class="tech-badge col4">
					<%= image_tag 'codeception.png', :alt => "Codeception logo" %>
				</div>
				<div class="tech-badge col4">
					<%= image_tag 'stripe.png', :alt => "Stripe logo" %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="case-study__section--blue">
	<div class="wrapper">
		<div class="row cf">
			<div class="mugshot">
				<%= image_tag 'Cat_b.png', :alt => "Cat Barrett" %>
			</div>
		</div>
		<div class="row cf">
			<div class="col2"></div>
			<blockquote class="big_quote">"Russ and Craig are really smart, knowledgable guys. Their complimentary design and backend tech skills make them a one stop shop for web app development. Thanks for all your help guys!"</blockquote>
			<div class="col2"></div>
		</div>
		<div class="row cf">
			<span class="quote__attribution">Cat Barrett - Buildcloud</span>
		</div>
		</div>
	</div>
</section>

<section class="case-study__section--white">
	<div class="cta-box">
		<div class="wrapper">
			<h3>Have a web app project you’d like to talk to us about?</h3>
			<%= link_to 'Get in touch <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/hire-us/', :class => "cta_btn" %>
		</div>
	</div>
</section>
