---
title: We build. This is Our Work - Flo Design Limited
description: Let our Work speak for itself, with lots of happy customers here is a select few of those sites, which shows off our Web Design Skills.
---

<section class="masthead" id="masthead">
	<!-- <%= image_tag 'office_hero.jpg', :class => "bg" %> -->
	<div class="wrapper">
		<h1><span class="hp-title-one">We build.</span><span class="hp-title-two"><br/>This is our work.</span></h1>
	</div><!--end wrapper-->
</section>




<section class="work-items">
	<div class="wrapper wrapper-wide cf">
		<a href="" class="work-box">
			<%= image_tag 'thumb-buildcloud.jpg' %>
			<div class="work-box__overlay">
				<div class="overlay-container">
					<h4 class="project-title">Buildcloud</h4>
					<hr>
					<span class="tags">Web Design, Development, WordPress</span>
				</div>
			</div>
		</a>
		<a href="" class="work-box">
			<%= image_tag 'thumb-geo.jpg' %>
			<div class="work-box__overlay">
				<div class="overlay-container">
					<h4 class="project-title">Buildcloud</h4>
					<hr>
					<span class="tags">Web Design, Development, WordPress</span>
				</div>
			</div>
		</a>
		<a href="" class="work-box">
			<%= image_tag 'thumb-alscient.jpg' %>
			<div class="work-box__overlay">
				<div class="overlay-container">
					<h4 class="project-title">Buildcloud</h4>
					<hr>
					<span class="tags">Web Design, Development, WordPress</span>
				</div>
			</div>
		</a>
		<a href="" class="work-box">
			<%= image_tag 'thumb-nhs.jpg' %>
			<div class="work-box__overlay">
				<div class="overlay-container">
					<h4 class="project-title">Buildcloud</h4>
					<hr>
					<span class="tags">Web Design, Development, WordPress</span>
				</div>
			</div>
		</a>
		<a href="" class="work-box">
			<%= image_tag 'thumb-yas.jpg' %>
			<div class="work-box__overlay">
				<div class="overlay-container">
					<h4 class="project-title">Buildcloud</h4>
					<hr>
					<span class="tags">Web Design, Development, WordPress</span>
				</div>
			</div>
		</a>
		<a href="" class="work-box">
			<%= image_tag 'thumb-logistadvise.jpg' %>
			<div class="work-box__overlay">
				<div class="overlay-container">
					<h4 class="project-title">Buildcloud</h4>
					<hr>
					<span class="tags">Web Design, Development, WordPress</span>
				</div>
			</div>
		</a>
	</div>
</section>


<section class="standard__section standard__section--grey">
	<div class="wrapper">
		<h2>A peek at some work in progress &amp; side projects...</h2>
	

		<div class="shots cf">
		</div>
	</div>
</section>

<div class="cta-box cta-box__white">
	<div class="wrapper">
		<h3>Have a project you’d like to talk to us about?</h3>
		<%= link_to 'Get in touch <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/hire-us.html', :class => "cta_btn" %>
	</div>
</div>



