---
title: A Little About Us - Flo Design Limited
description: Who are Flo Design? Where did they come from? and why is it called Flo anyway? Get the answer to these and more to learn a bit more about us.
---

<!-- Add your site or application content here -->


<section class="masthead masthead--about" id="masthead">
	<!-- <img src="../img/seawater.jpg" alt="" class="bg"> -->
	<!-- <%= image_tag 'seawater.jpg', :class => "bg" %> -->
	<div class="wrapper">
		<h1><span class="hp-title-one">We love the web.</span><span class="hp-title-two"><br/>This is who we are.</span></h1>
	</div><!--end wrapper-->
</section>


<section class="values">
	<div class="wrapper">
	<div class="row cf">
		<div class="col3">
			<div class="box box1">
				<div class="box__corner"></div>
				<h3>Passion</h3>
				<div class="icon-fire" aria-hidden="true"></div>
				<p>We love the web and we love what we do. Our passion drives us to do great work, produce projects we’re proud of and that leave lasting, positive impressions.</p>
			</div>
		</div><!--end col3-->
		
		<div class="col3">
			<div class="box box2">
				<div class="box__corner"></div>
				<h3>Partnerships</h3>
				<div class="icon-people" aria-hidden="true"></div>				
				<p>We believe in fostering close working partnerships with whoever we work with. We’ll work with you, not for you, to achieve the best results for you and your project.</p>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box box3">
				<div class="box__corner"></div>
				<h3>Experiences</h3>
				<div class="icon-happy" aria-hidden="true"></div>
				<p>Form is function & vice versa. We take a holistic, user-centric approach to all our projects. This means we focus on the experience & not a feature list. </p>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box box4">
				<div class="box__corner"></div>
				<h3>One Web</h3>
				<div class="icon-web" aria-hidden="true"></div>
				<p>The web is for everyone. It shouldn't matter how it’s accessed; phone, tablet or desktop. We build responsive by default so your site will just work.</p>
			</div>
		</div><!--end col3-->
	</div><!--end row-->
	</div><!--end wrapper-->
</section>


<section class="built">
	<div class="wrapper">
		<blockquote class="big_quote">"Great Design is design that you don’t notice.<br/>The simplest solution is often the best."</blockquote>
	</div><!--end wrapper-->
</section>


<section class="process">
	<div class="wrapper">
		<h2>Our Process</h2>
		<div class="row cf">
			<div class="col2"></div>
			<div class="col7">
				<div class="copy-wrapper">
					<h3>Collaborative. Transparent. Agile</h3>
					<p>
						We're not like most other digital agencies. We're transparent and you'll be with us every step of the way. We work in 1-week 'sprints' with daily meetings of 15 minutes or less. There will also be a constant line of communication open in the form of a dedicated Slack channel. Each sprint deals with a selection of design challenges around a central theme. We're big fans of iterating on our solutions and by using Continuous Delivery we make the fruits of our labour available to you as we're building it. No big reveals or hiding away for weeks on end. We communicate to get the right result first time, even if it differs from the initial idea.
					</p>
				</div>
			</div>
			<div class="col3"></div>
		</div>
		<div class="row cf process--boxes">
			<div class="col3">
				<%= image_tag 'discovery.svg', :alt => "discovery", :alt => "Discovery"%>
			</div>
			<div class="col3">
				<%= image_tag 'structure.svg', :alt => "Structure", :alt => "Structure" %>
			</div>
			<div class="col3">
				<%= image_tag 'design.svg', :alt => "Design", :alt => "Design" %>
			</div>
			<div class="col3">
				<%= image_tag 'develop.svg', :alt => "Develop", :alt => "Develop" %>
			</div>
			
		</div><!--end row-->

		<div class="row cf">
			<div class="col2"></div>
			<div class="col7">
				<div class="copy_wrapper">
					<h3>Discovery &amp; Research</h3>
					<p>The most important part of any new project. This stage sets the foundation for the rest of the project. We’ll ask a lot of questions about your project, begin to develop user personas and set project goals. We also look at any data from existing sites and analyse your competition. Basically we leave no stone unturned in getting to know you, your brand &amp; your organisation.</p>

					<h3>Structure &amp; Wireframe</h3>
					<p>Now we start the process of content layout and structure. This is where the user experience design really begins. Wireframes allow us to start experimenting with user paths and content layout &amp; hierarchy. We produce prototypes for testing to give us an idea of how the site will work and perform.</p>

					<h3>User interface Design</h3>
					<p>Next comes the really fun bit! We add a layer of gorgeous design. We sweat every detail from colour palette to illustrations to typography.  Great design should facilitate the clear communication of the content not get in its way.  The simplest solution is often the best.</p>

					<h3>Development</h3>
					<p>Development begins around the same time as wireframing and user interface design. The sooner we can get into code the better as it helps build fast, efficent, reliable sites. HTML prototypes are made from the wireframes to identify potential problems early. Once layout is finalised we begin to layer on the user interface design, interactions, animations and fine detail that create an awesome experience for your users.</p>

				</div><!--end copy_wrapper-->
			</div>
			<div class="col3"></div>
		</div>
	</div><!--end wrapper-->
</section>

<section class="team">
	<div class="wrapper">
		<h2>This is Us</h2>
		<div class="row cf">
			<div class="col6">
				<div class="member cf">
					<%= image_tag 'russ_avatar.jpg', :alt => "Russell Poulter", :class => "avatar"%>
					<!-- <%= image_tag 'russ.png', :alt => "Russ", :onLoad => "this.width*=0.5;this.onload=null;" , :alt => "Russell Poulter"%> -->
					<div class="member__copy">
						<h3>Russell Poulter</h3>
						<p>I'm a Creative thinker and pixel pusher who's easily distracted by shiny Apple Products. I love solving problems through design &amp; working closely with clients to deliver the best experience for their users.</p>
						<ul class="member__social">
							<li><a href="https://twitter.com/russpoulter" data-icon="&#xe617;"></a></li>
							<li><a href="http://dribbble.com/russpoulter" data-icon="&#xe600;"></a></li>
							<li><a href="http://instagram.com/russp1980" data-icon="&#xe618;"></a></li>
							<!-- <li><a href="" data-icon="&#xe900;"></a></li> -->
						</ul>
					</div>
				</div><!--end member-->
			</div><!--end col6-->
			<div class="col6">
				<div class="member cf">
					<%= image_tag 'craig_avatar.jpg', :alt => "Craig Thompson", :class => "avatar"%>
					
					<div class="member__copy">
						<h3>Craig Thompson</h3>
						<p>I model the real world in code, designing, prototyping and building the systems that power our clients' businesses.</p>
						<ul class="member__social">
							<li><a href="https://twitter.com/migweld" data-icon="&#xe617;"></a></li>
							<li><a href="https://github.com/migweld" data-icon="&#xe61c;"></a></li>
						</ul>
					</div>
				</div><!--end member-->
			</div><!--end col6-->
		</div><!--end row-->
	</div><!--end-wrapper-->
</section>


