---
title: Web Design Leeds, Yorkshire - Flo Design Limited
description: At Flo Design our Web Design is born in Leeds, working with great companies, brands and start-ups to build websites that look great and work.
---

<!-- I test therefore I am -->

<!-- Add your site or application content here -->


<section class="masthead" id="masthead">
	<img src="img/seawater.jpg" alt="" class="bg">

	<div class="wrapper">
		<h1><span class="hp-title-one">We are Flo.</span><span class="hp-title-two"><br/> We build the web.</span></h1>
		<div class="ctas">

			<!-- <a href="/about" class="masthead__btn">Find out more <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span></a> -->
			<%= link_to 'See our work <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/work.html', :class => "masthead__btn" %>


			<!-- <a href="/contact" class="masthead__btn--solid">Hire us <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span></a> -->
			<%= link_to 'Hire us <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span>', '/hire-us.html', :class => "masthead__btn--solid" %>

		</div>
	</div><!--end wrapper-->
</section>


<section class="offer">
	<div class="wrapper">
	<h2>We do.</h2>
	<div class="row cf">
		<div class="col3">
			<div class="box box1">
				<div class="box__corner"></div>
				<h3>Digital Strategy</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe60e;"></span>
				<p>We’ll work with you to devise a digital strategy that’s right for your business. We’ll ask a lot of questions and conduct needs analysis to ensure we start on the right foot.</p>
				<!-- <a href=""><span data-hover="Find out more" class="roll">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->

		<div class="col3">
			<div class="box box2">
				<div class="box__corner"></div>
				<h3>User Experience</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe611;"></span>
				<p>Our process is user centric. We build and design web sites for its users. If users have to think how to use a site we've failed and failure is not an option.</p>
				<!-- <a href="">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box box3">
				<div class="box__corner"></div>
				<h3>Design</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe60f;"></span>

				<p>We Love design &amp; we believe that every pixel matters. Great web design isn't just about a great looking web site it's about a great functioning site as well. Form is function.</p>
				<!-- <a href="">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box box4">
				<div class="box__corner"></div>
				<h3>Development</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe609;"></span>

				<p>We care about code and we set high standards for ourselves. Our sites are custom built from the ground up with the very latest web technologies.</p>
				<!-- <a href="">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->
	</div><!--end row-->
	</div><!--end wrapper-->
</section>


<section class="built">
	<div class="wrapper">
		<h2>We Build.</h2>
		<div id="sequence" class="sequence">
			<ul class="sequence-canvas">

				<li>
					<%= image_tag 'slider_als_mbp.jpg', :class => "mbp", :onload => "this.width*=0.5;this.onload=null;"%>
					<%= image_tag 'slider_als_phone.png', :class => "iphone", :onload => "this.width*=0.5;this.onload=null;"%>
					<div class="built__info">
						<h4>Alscient Limited</h4>
						<a href="/work">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>

				<li>
					<%= image_tag 'slider_pulse_macbook.jpg', :class => "mbp", :onload => "this.width*=0.5;this.onload=null;"%>
					<%= image_tag 'slider_pulse_iphone.png', :class => "iphone", :onload => "this.width*=0.5;this.onload=null;"%>
					<div class="built__info">
						<h4>Yorkshire Ambulance Service</h4>
						<a href="/work">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>
				

				<li>
					<%= image_tag 'slider_hdn_macbook.png', :class => "mbp", :onload => "this.width*=0.5;this.onload=null;"%>
					<%= image_tag 'slider_hdn_iphone.png', :class => "iphone", :onload => "this.width*=0.5;this.onload=null;"%>
					<div class="built__info">
						<h4>NHS Health Developer Network</h4>
						<a href="/work">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>

				<li>
					<%= image_tag 'slider_la_macbook.jpg', :class => "mbp", :onload => "this.width*=0.5;this.onload=null;"%>
					<%= image_tag 'slider_la_iphone.png', :class => "iphone", :onload => "this.width*=0.5;this.onload=null;"%>
					<div class="built__info">
						<h4>LogistAdvise</h4>
						<a href="/work">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>

				<li>
					<%= image_tag 'slider_vp_ipad.png', :class => "ipad-vp", :onload => "this.width*=0.5;this.onload=null;"%>
					<%= image_tag 'slider_vp_iphone.png', :class => "iphone-vp", :onload => "this.width*=0.5;this.onload=null;"%>

					<div class="built__info">
						<h4>VoicePower Limited</h4>
						<a href="/work">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>

			</ul>

		</div><!--end sequence-->
	</div><!--end wrapper-->
</section>




<section class="talk">
	<div class="wrapper">
		<div class="row cf">
			<h2>We talk.</h2>
			<div class="col6">
				<form method="post" class="talk__form cf" name="contact-form" id="contact-form">
					<input type="text" name="name" id="name" placeholder="Name">
					<input type="text" name="email" id="email" placeholder="Email">
					<div class="form_dropdown">
						<select name="budget" id="budget">
							<option value='' disabled selected style='display:none;'>Budget</option>
							<option value="Under 5k">Under £5k</option>
							<option value="5k - 10k">£5k - £10k</option>
							<option value="10k - 15k">£10k - £15k</option>
							<option value="15k 20k">£15k - £20k</option>
							<option value="over 20k">Over £20k</option>
						</select>
					</div>
					<textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
					<a href="#" id="form_send" class="form_send">SEND <span aria-hidden="true" data-icon="&#xe604;"></span></a>

					<div class="success_fail">
						<%= image_tag 'ajax-loader.gif', :class => "loader" %>
						<div class="contact-message"></div>
					</div><!--end success fail-->
				</form>
			</div>
				<div class="col6">
				<p>Have an upcoming web project that you'd like to work with us on? We'd love to hear from you.</p>
				<p> Simply fill out the form to the left, drop us a line via email or give us a call, we'd be happy to have a chat!</p>

				<ul class="talk__details">
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe615;"></span><span class="grey">0113</span> 314 2010</li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe612;"></span><a href="mailto:hello@flodesign.co.uk"><span class="grey">hello@</span>flodesign.co.uk</a></li>
				</ul>
			</div>
		</div><!--end row-->
	</div><!--end wrapper-->
</section>



<section class="worked">
	<div class="wrapper">
		<div class="row cf">
			<h2>We're experienced.</h2>
			<ul class="client_logos">
				<li>
					<span class="client_logos__logo logo_morrisons">
					<%= image_tag 'dot.gif', :class => "logo", :height => "1", :width => "1" %>
					</span>
				</li>
				<li>
					<span class="client_logos__logo logo_nhs">
					<%= image_tag 'dot.gif', :class => "logo", :height => "1", :width => "1" %>
					</span>
				</li>
				<li>
					<span class="client_logos__logo logo_nokia">
					<%= image_tag 'dot.gif', :class => "logo", :height => "1", :width => "1" %>
					</span>
				</li>
				<!-- <li>
					<span class="client_logos__logo logo_yas">
					<%= image_tag 'dot.gif', :class => "logo", :height => "1", :width => "1" %>
					</span>
				</li> -->
			</ul>
		</div>
	</div>
</section>
