---
title: We build. This is Our Work - Flo Design Limited
description: Let our Work speak for itself, with lots of happy customers here is a select few of those sites, which shows off our Web Design Skills.
---



<section class="masthead" id="masthead">
	<%= image_tag 'seawater.jpg', :class => "bg" %>

	<div class="wrapper">
		<h1><span class="hp-title-one">We build.</span><span class="hp-title-two"><br/>This is our work.</span></h1>

	</div><!--end wrapper-->
</section>


<section class="work_item">
	<div class="wrapper">
		<h2>NHS Health Developer Network</h2>
		<div class="row cf">
			<div class="col5">
				<p>We love the NHS, we think it's an institution to be proud of and it's one we're proud to have worked with. They asked us to design &amp; develop a site to be a resource and community for independent software developers. The site aims to assist in the creation of health and social care software and mobile applications. We explored a number of design directions but ultimately settled on a simple, bold colour-led design with each section of the site having its own colour identity. The site can be fully updated and maintained via the WordPress content management system, which was customised to meet the exacting requirements of the project.</p>

				<ul class="tags cf">
					<li>DESIGN</li>
					<li>DEVELOPMENT</li>
					<li>PROJECT MANAGEMENT</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>RESPONSIVE</li>
					<li>WORDPRESS</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="http://developer.nhs.uk/">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>

			<div class="col7">
				<div class="work_imgs">

					<%= image_tag 'hdn_mbp_lg.png', :class => "work_item--mbp", :onload => "this.width*=0.5;this.onload=null;" %>
					<%= image_tag 'hdn_iphone_lg.png', :class => "work_item--iphone", :onload => "this.width*=0.5;this.onload=null;" %>

				</div><!-- end work imgs-->
			</div>
		</div>
	</div>
</section>

<section class="work_item work_item--even">
	<div class="wrapper">
		<h2>Yorkshire Ambulance Service</h2>
		<div class="row cf">
			<div class="col7 cf">
				<div class="work_imgs">
					<%= image_tag 'pulse_mbp_lg.png', :class => "work_item--mbp", :onload => "this.width*=0.5;this.onload=null;" %>
					<%= image_tag 'pulse_iphone_lg.png', :class => "work_item--iphone", :onload => "this.width*=0.5;this.onload=null;" %>
				</div><!--end work imgs-->
			</div>

			<div class="col5">

				<p>The Yorkshire Ambulance Service approached us to help them re-brand and re-design their internal intranet system. They wanted a simple and visually appealing design that would keep content and communication at the heart of the system. We worked closely with them to produce a comprehensive set of designs for mobile, tablet and desktop experiences.
				<ul class="tags cf">
					<li>DESIGN</li>
					<li>PROJECT MANAGEMENT</li>
					<li>RESPONSIVE</li>
					<li>LOGO DESIGN</li>
					<li>BRAND DESIGN</li>
					<li>APP DESIGN</li>
				</ul>
				<ul class="work_ctas cf">
					<!-- <li><a href="http://voicepower.co.uk/">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>

		</div>
	</div>
</section>


<section class="work_item">
	<div class="wrapper">
		<h2>LogistAdvise</h2>
		<div class="row cf">


			<div class="col5">
				<p>We worked with LogistAdvise, a logistics startup, while they where based in Leeds. They approached us to design and build their idea for a freight carrier search engine application. We worked with the them to design and build the app. Our work covered logo and branding, user experience design, user interface design as well as developing the custom back end functionality using Ruby on Rails and services like the Google maps API. The LogistAdvise team has since relocated to Canada and continued development with their in-house team.</p>

				<ul class="tags cf">
					<li>DESIGN</li>
					<li>DEVELOPMENT</li>
					<li>PROJECT MANAGEMENT</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>RESPONSIVE</li>
					<li>RUBY ON RAILS</li>
					<li>LOGO DESIGN</li>
					<li>BRAND DESIGN</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="http://logistadvise.com/">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>

			<div class="col7 cf">
				<div class="work_imgs">
					<%= image_tag 'la_mbp_lg.png', :class => "work_item--mbp", :onload => "this.width*=0.5;this.onload=null;" %>
					<%= image_tag 'la_iphone_lg.png', :class => "work_item--iphone", :onload => "this.width*=0.5;this.onload=null;" %>
				</div><!--end work imgs-->
			</div>

		</div>
	</div>
</section>








<section class="work_item work_item--even">
	<div class="wrapper">
		<h2>VoicePower Limited</h2>
		<div class="row cf">

			<div class="col7 cf">
				<div class="work_imgs">
					<%= image_tag 'vp_mbp_lg.png', :class => "work_item--mbp", :onload => "this.width*=0.5;this.onload=null;" %>
					<%= image_tag 'vp_iphone_lg.png', :class => "work_item--iphone", :onload => "this.width*=0.5;this.onload=null;" %>
				</div><!--end work imgs-->
			</div>

			<div class="col5">
				<p>VoicePower Limited is an independent supplier of speech recognition and digital dictation solutions based in Harrogate. They hired us to design and build them a new marketing site to go along with a recent re-brand. They wanted a site that was clean, clear and easy to use and navigate. We produced a modern responsive site that works just as well across any device, from smart phone to desktop computer, with a focus on generating business leads via the site. The site can be updated and maintained via the WordPress content management system.</p>

				<ul class="tags cf">
					<li>DESIGN</li>
					<li>DEVELOPMENT</li>
					<li>PROJECT MANAGEMENT</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>RESPONSIVE</li>
					<li>WORDPRESS</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="http://voicepower.co.uk/">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>



		</div>
	</div>
</section>


<section class="work_item">
	<div class="wrapper">
		<h2>Contract Furniture Specialists</h2>
		<div class="row cf">



			<div class="col5">
				<p>Contract Furniture Specialists are a Chester based company who provide innovative, quality dining solutions to the educational and leisure markets. They were in need of a new web site that would generate more leads via the web and showcase their work in the best possible light. We worked closely with them to produce a site that not only looks good but is easy to use and keep up to date via the WordPress content management system.</p>

				<ul class="tags cf">
					<li>DESIGN</li>
					<li>DEVELOPMENT</li>
					<li>PROJECT MANAGEMENT</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>WORDPRESS</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="http://www.cfspec.com/">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>

			<div class="col7 cf">
				<div class="work_imgs">
					<%= image_tag 'cfs_mbp_lg.png', :class => "work_item--mbp", :onload => "this.width*=0.5;this.onload=null;" %>
					<!-- <img class="work_item--iphone" src="img/hdn_iphone_lg.png" alt="" onload="this.width*=0.5;this.onload=null;"> -->
				</div><!--end work imgs-->
			</div>


		</div>
	</div>
</section>


<section class="work_item work_item--even">
	<div class="wrapper">
		<h2>Cammax Limited</h2>
		<div class="row cf">

			<div class="col7">
				<div class="work_imgs">

					<%= image_tag 'cam_mbp_lg.png', :class => "work_item--mbp", :onload => "this.width*=0.5;this.onload=null;" %>
					<!-- <img class="work_item--iphone" src="img/hdn_iphone_lg.png" alt="" onload="this.width*=0.5;this.onload=null;"> -->
				</div><!--end work imgs-->
			</div>

			<div class="col5">
				<p>Cammax Limited are leading UK providers of bespoke touch-screen kiosk solutions, interactive digital signage, touch screen monitors and more. They required a new web presence in order for them to keep pace in an ever changing and competitive industry. We delivered a modern clean design that's easy on the eye &amp; easy to maintain thanks to the WordPress content management system powering the back end.</p>

				<ul class="tags cf">
					<li>DESIGN</li>
					<li>DEVELOPMENT</li>
					<li>PROJECT MANAGEMENT</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>WORDPRESS</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="http://www.cammaxlimited.co.uk/">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>


		</div>
	</div>
</section>
